# Make a '.env' archive with this content and switch this variable value.
JWT_SECRET=Make_your_token_key_here!_Minimum_32_characters.

APP_NAME=PROJOURNEY_SERVER

DATABASE_SERVER=127.0.0.1:3306
DATABASE_USER=<username>
DATABASE_PASSWORD=<password>
DATABASE_NAME=<database_name>
